.container {
  background-color: azure;
  margin: 20px;
  padding: 10px;
}
.success {
  background-color: rgb(83, 207, 238);
  width: 150px;
  height: 30px;
  border: none;
  color: white;
  margin: 10px 0px;
  font-size: 10px;
}
.newForm {
  background-color: rgb(83, 207, 238);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
}
.fields {
  display: flex;
  margin: 10px 30%;
  height: 60px;
  width: fit-content;
  overflow: hidden;
}
.textArea {
  width: 250px;
  height: 50px;
  margin: 0 20px;
}
.textField {
  width: 95%;
  height: 50px;
}
